.product-detail-wrap{
    display: flex;
    flex-direction: column;
    background-color: var(--bgr-white-color);
    border-radius: 8px;
}

.product-detail{
    display: flex;
    padding: 14px 10px;
    justify-content: space-between;
}

.product-detail-img{
    width: 35%;
    position: relative;
}


.product-detail-img img{
    width: 100%;
}

.product-detail-preview{
    width: 60%;
}

.product-detail-title{
    margin-bottom: 10px;
    font-size: 2.4rem;
}

.product-supplier{
    margin-top: 30px;
    padding-right: 80px;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 14px;
}

.product-detail-price{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.product-detail-price span {
    margin-right: 14px;
}

.product-detail-original-price{
    font-size: 2.8rem;
    font-weight: 600;
    margin-right: 6px;
    color: #c92127 ;
}

.product-detail-discount-price{
    margin-right: 6px;
    text-decoration: line-through;
}

.percent{
    background-color: #c92127;
    border-radius: 4px;
    padding: 2px;
    color: #fff;

}

.delivery-time,
.product-policy{
    margin-bottom: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}


.delivery-time span,
.product-policy span{
    width: 50%;
}

.product-quantity{
    margin-top: 24px;
    display: flex;
}

.product-quantity>span{
    margin-right: 30px;
}

.product-quantity div{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #ccc;
    padding: 4px 6px;
}

.product-count{
    margin: 0 16px;
}

.product-quantity div i {
    cursor: pointer;
}

.product-btn{
    padding: 16px 60px 16px 12px;
}

.product-btn button {
    width: 220px;
    padding: 12px 0;
    margin-right: 10px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

.btn-cart{
    border: 1.5px solid #c92127;

}

.btn-cart a{
    text-decoration: none;
    color: #c92127;
    font-weight: 600;
}

.btn-buy{
    background-color: #c92127;
 
}


.btn-buy a{
    font-weight: 600;
    text-decoration: none;
    color: #fff;
 
}

.table-info tr td{
    padding: 4px 0;
}

.endow{
    margin: 10px 0;
    background-color: var(--bgr-white-color);
    border-radius: 8px;
    padding: 12px 20px;
}

.voucher-list{
    display: flex;
    justify-content: space-between;
    padding: 8px 0 4px 0;
}

.voucher-item{
    display: flex;
    width: 32%;
    padding: 8px 4px;
    border-radius: 6px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.voucher-icon{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #48a7f8;
}


.voucher-icon i{
    font-size: 2.4rem;
}

.voucher-info{
    width: calc(100% - 66px);
    margin-left: 6px;
}
.voucher-info h4{
    display:-webkit-box;
    margin: 6px 0;
    -webkit-line-clamp:1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.voucher-info span{
    margin-top: 4px;
    font-size: 1.4rem;
    color: #7A7E7F;
    display:-webkit-box;
    -webkit-line-clamp:2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.product-description span{
    display: block;
     padding: 12px 0;

}

.endow-heading{
    display: flex;
    align-items: center;
    padding: 0 0 4px 0;
    border-bottom:1px solid #ccc ;
}

.endow-heading h3{
    margin-left: 6px;
}