/* Css nội dung cho trang homepage (trang chủ) */
/* Content CSS */
.container {
    margin: 0 auto;
    padding: 0 18px;
}

.banner-main {
    width: 100%;
    display: flex;
}

.banner-left {
    width: calc(100% - 400px);
    height: 316px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 10px;
}

.banner-list {
    width: 200%;
    height: 100%;
    display: flex;
    list-style-type: none;
}

.banner-item {
    width: 50%;
}

.banner-item a {
    display: block;
    width: 100%;
    height: 100%;
}

.banner-item a img {
    width: 100%;
    height: 100%;
}

.banner-right {
    width: 392px;
    margin-left: 8px;
}

.banner-right-top,
.banner-right-bottom {
    border-radius: 10px;
    overflow-x: hidden;
}

.banner-right-link {
    display: flex;
    width: 100%;
    height: 100%;
}

.banner-right-link img {
    width: 100%;
}

.banner-right-bottom {
    margin-top: 4px;
}


.home-banner {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.home-banner-inner {
    width: 24%;
}

.home-banner-link {
    flex: 1 1 auto;
    display: inline;
    width: 100%;
    height: 100%;
}

.home-banner-link img {
    width: 100%;
}

.menu-banner {
    margin-top: 10px;
    padding: 10px 30px;
    background-color: var(--bgr-white-color);
    display: flex;
    align-items: center;
}

.menu-banner-list {
    display: flex;
    width: 100%;

    justify-content: space-between;
}

.menu-banner-item {
    width: 9%;
    text-align: center;
    padding: 8px;
}

.menu-banner-item:hover .menu-banner-title {
    color: #c92127;
}


.menu-banner-item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--text-black-color);
}

.menu-banner-img {
    margin: auto;
    margin-bottom: 8px;
    width: 48px;
    display: block;
}

.menu-banner-title {
    font-size: 1.5rem;
}

/* Category CSS */
.category {
    background-color: var(--bgr-white-color);
}

.category-heading {
    display: flex;
    padding: 10px 12px;
    font-size: 1.4rem;
    align-items: center;
}

.category-heading h3 {
    margin-left: 6px;
}

.category-product-list {
    display: flex;
    padding: 10px 0;
}

.category-product-item {
    flex: 1 1 auto;
    text-align: center;
    /* background-color: red; */
    cursor: pointer;
}

.category-product-item:hover .category-title {
    color: #c92127;
}

.category-product-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.category-title {
    font-size: 1.4rem;
    color: var(--text-light-black-color);
}

/* Product css*/

.div-propuct {
    background-color: var(--bgr-white-color);
}

.div-product-menu {
    padding: 10px 12px;
    display: flex;
    border-bottom: 0.5px solid #eae8e8;
}

.div-product-menu-item {
    margin-right: 6px;
    padding: 8px 6px;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    caret-color: transparent;
}

.div-product-content {
    padding: 4px;
    width: 100%;
    overflow: hidden;

}

.div-product-list {
    width: 200%;
    display: flex;
}

.div-product-item {
    width: 233px;
    ;
    padding: 4px;
    margin: 0 4px;
    border: 0.5px solid #eae8e8;
    cursor: pointer;

}

.div-product-item a {
    text-decoration: none;
    color: var(--text-black-color);
}

.product-img {
    width: 80%;
    display: block;
    margin: auto;
}

.product-info {}

.product-title {
    margin-top: 6px;
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.product-discount-price {

    display: flex;
    align-items: center;
    margin: 8px 0;
}

.product-discount-price span {
    color: #c92127;
    font-weight: 600;
    font-size: 1.8rem;
}

.product-percent-discount {
    margin-left: 10px;
    padding: 3px 4px;
    background-color: #c92127;
    color: var(--text-white-color);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 600;
}

.product-original-price {
    text-decoration: line-through;
    color: var(--text-light-black-color);
}

.div-product-more {
    width: 100%;
    border-top: 0.5px solid #eae8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.more-btn {
    color: #c92127;
    border: 1.5px solid #c92127;
    background-color: transparent;
    padding: 10px 40px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.more-btn:hover {
    background-color: #faf6f7;
}

