/* Css Layout Header + Footer dùng chung cho các trang, 
    trang nào muốn dùng thì chỉ cẩn link băng html
    Nhấn mạnh đây là css layout tức css vùng header + footer + khung body
*/

/* Header CSS */
.header {
    min-width: 100%;
    height: auto;
}

.header-top-banner {
    display: flex;
    justify-content: center;
    background-color: #3e82c0;
}

.header-top-banner img {}

.header-container {
    width: 100%;
    height: 70px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgr-white-color);
}

.header-inner {

    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inner-center {
    margin: 0 22px;
    display: flex;
    align-items: center;
    flex: 1 1 auto;


}

.menu{
    position: relative;
    cursor: pointer;
}

.menu::before{
    content: "";
    position: absolute;
    bottom: -14px;
    width: 120%;
    left: -10%;
    height: 14px;
    background-color: transparent;
}

.menu:hover .header-menu-category{
    display: initial;
    
}

.header-menu-category{
    position: absolute;
    top: 58px;
    left: -216px;
    display: none;
    width: 1200px;
    padding: 30px 10px;
    background-color: var(--bgr-white-color);
    border-radius: 4px;
    box-shadow: 0px 8px 8px 4px rgba(0, 0, 0, 0.2 );
    z-index: 99;
    


    
}

.menu-category-wrap{
    display: flex;
}

.nav-category{
    width: 25%;
    padding-right: 10px;
    border-right: 1px solid black;
}

.nav-heading{
    color: #848788;
    font-size: 1.8rem;
}

.nav-links{
    margin-top: 10px;
}

.nav-links a{
    display: block;
    width: 100%;
    padding: 16px 6px;
    text-decoration: none;
    color: var(--text-black-color);
    font-size: 1.7rem;
    font-weight: 600;
}

.nav-links a:hover{
    background-color: #f2f4f5;

}

.menu-category-content{
    width: 75%;
    padding: 0 20px;

}

.menu-category-heading{
    display: flex;
    align-items: center;
}

.menu-category-heading i{
    font-size: 2.4rem;
}

.menu-category-heading h2{
    font-size: 2.2rem;
    margin-left: 6px;
}

.menu-category-row{
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.menu-category-col{
    display: flex;
    flex-direction: column;
}

.menu-category-col h5{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.menu-category-col span{
    margin-bottom: 8px;
    font-size: 1.4rem;
}

.menu-category-col span:hover{
    color: rgb(253, 170, 184);
    cursor: pointer;
}

.search {
    display: flex;
    width: 100%;
    border: 1px solid #ccc;
    padding: 4px 14px;
    border-radius: 8px;
}

.search input {
    flex: 1 1 auto;
    border: none;
    outline: none;
    padding-right: 8px;
}

.search-btn {
    padding: 6px 26px;
    font-size: 1.7rem;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #c92127;
}

.search-btn i {
    color: var(--text-white-color);
}

.header-inner-right {
    display: flex;
    align-items: center;
    height: 100%;
}

.notification,
.cart,
.account {
    text-align: center;
    margin-left: 6px;
}


.notification i,
.cart i,
.account i {
    display: block;
    margin-bottom: 4px;
}

.header-title {
    font-size: 1.4rem;
}

.languages {
    width: 70px;
    height: 100%;
    border: 1px solid #ccc;
}

/* Body CSS */

.body {
    padding-top: 30px;
    background-color: #f0f0f0;
    width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    padding: 0 18px;
}



/* Footer Css */

.footer {
    padding-top: 20px;
    background-color: #f0f0f0;
    margin-bottom: 100px;
}

.footer-wrapper {
    margin: 0 auto;
    padding: 0 20px;

}

.footer-top {
    background-color: #9fa7ab;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.footer-top-inner {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.footer-top-left {
    display: flex;
    align-items: center;
    color: var(--text-white-color);
    font-size: 2.4rem;
}

.footer-top-left i {
    margin-right: 10px;
}

.footer-top-right {
    background-color: var(--bgr-white-color);
    padding: 4px;
    border-radius: 4px;
}

.footer-top-right input {
    border: none;
    outline: none;
    padding: 0 4px;
    width: 500px;
}

.footer-top-right button {
    border: none;
    background-color: #F7931E;
    color: var(--text-white-color);
    font-weight: 600;
    font-size: 1.6rem;
    padding: 9px 28px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;
}

.footer-top-right button:hover {
    background-color: #c92127;
}

.footer-content {
    background-color: var(--bgr-white-color);
    display: flex;
    padding-top: 30px;
    width: 100%;
}

.footer-content-left {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    width: 35%;
    border-right: 1px solid #ccc;
}

.footer-content-left span,
.footer-content-left img {
    width: 80%;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.footer-content-img {
    width: 30%;
}

.footer-icon i {
    font-size: 3rem;
    color: #555656;
    margin-right: 10px;
}

.dowload-icon {
    margin-top: 10px;
    display: flex;
}

.dowload-icon img {
    width: 33.333333%;
    margin-right: 10px;
}

.footer-content-right {
    width: 65%;
    padding: 10px 30px 0 37px;
}

.footer-service {
    display: flex;
    justify-content: space-between;
}

.footer-service>div {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
}

.footer-service>div h3{
    margin-bottom: 14px;
}

.footer-service>div a {
    text-decoration: none;
    color: var(--text-black-color);
    margin-bottom: 10px;
}

.footer-service>div a:hover{
    color: rgb(255, 168, 183);
}

.footer-concact{
    margin-top: 10px;
}


.footer-concact h3{
    font-size: 1.6rem;
}

.footer-concact>div{
    margin-top: 10px;
    display: flex;
}

.footer-concact>div>div{
    margin-right: 70px;
}

.footer-delivery{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px
    
}

.footer-delivery div{
    height: 80px;
}

.footer-delivery img{
    object-fit: contain;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
}

.footer-bottom{
    background-color: var(--bgr-white-color);
    font-size: 1.4rem;
    color: #959494;
    padding: 10px 20px;
    text-align: center;
}
